// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#image_wrapper{
  text-align: left;
  padding-bottom: 10px;
}

#about_wrapper {
  text-align: left;

}

#contact_wrapper   {
  clear: both;
  float: left;
  width: 20%;
  text-align: left;
}

span{
  font-weight: bold;
}

footer {
  clear: both;
}

h1 {
  padding-bottom: 25px;
  text-align: center;
}

h4{
  padding-bottom: 15px;
}

#directory {
  margin: 0 auto 25px auto;
  text-align: center;
}

#directory img {
  margin: 0 auto;
}

.container {
  background: lightgray;
  border-radius: 10px;
  margin-bottom: 25px;
  text-align: center;
}

img {
  width: 250px;
  height: auto;
}

ul {
  padding-left: 0;
}
